<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>521645407261-3gs5ja0hdm084g0glb68n3ahs2a1depg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521645407261-3gs5ja0hdm084g0glb68n3ahs2a1depg</string>
	<key>API_KEY</key>
	<string>AIzaSyCK0FWYkhzpbzx48V5g-s2l0Dbm-gd-33U</string>
	<key>GCM_SENDER_ID</key>
	<string>521645407261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HomePloyer.employee-timer</string>
	<key>PROJECT_ID</key>
	<string>employeetimer</string>
	<key>STORAGE_BUCKET</key>
	<string>employeetimer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:521645407261:ios:ee64943a4a0dd9b5</string>
	<key>DATABASE_URL</key>
	<string>https://employeetimer.firebaseio.com</string>
</dict>
</plist>
